<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div >
    <div class="jumbotron container-fluid">
        <button ng-click="miEvento()">
            Click encima de aca!
        </button>
    </div>
    <div ng-show="mostrar" class="container-fluid">
        <h1>
            Menu:
        </h1>
        <p>
            <strong>
               Pastel de Chocolate 
            </strong>
            
        </p>
        <p>
            <strong>
                Pure de papas
            </strong>
            
        </p>
        <p>
            <strong>
                Pescado Frito
            </strong>
            
        </p>
    </div>
</div>